<section>
  <h2>Standard Scenario - {{activeScenario.name}}</h2>
  <mat-divider></mat-divider>
  <h3><b>Deployment:</b> </h3>
  <p>{{activeScenario.deployment}}</p>
  <h3><b>How to determine Winner?</b></h3>
  <p>{{activeScenario.winner}}</p>
  <h3><b>Who gets the first Turn?</b></h3>
  <p>{{activeScenario.firstTurn}}</p>
  <h3><b>Length of the Game</b> </h3>
  <p>{{activeScenario.gameLength}}</p>
  <h3><b>How to generate battlefield?</b></h3>
  <p>{{activeScenario.battlefield}}</p>
  <h3><b>Game Special Rules</b> </h3>
  <p>{{activeScenario.specialRules}}</p>
</section>

